:root {
  --board-size: 750px;
  --tools-size: 1fr;
  --tile-btn-size: 50px;
}

body {
  box-sizing: border-box;
  padding: .25rem;
  display: grid;
  grid-template-columns: var(--board-size);
  grid-template-rows: var(--board-size) var(--tools-size);
  grid-template-areas: "board" "tools";
  user-select: none;
} body > div {
  border: 3px inset gray;
  box-sizing: border-box;
}

#board {
  grid-area: board;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .35);
}
.board-layer {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}
.board-layer:last-child .tile {
  outline: 1px dashed rgba(0, 0, 0, .5);
}
/* - - - - - */

.tiles-list {
  grid-area: tools;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr) 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.tiles-list > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-btn-size), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--tile-btn-size), 1fr));
  overflow-y: auto;
  height: 100%;
  gap: 5px;
  padding: 5px;
  background-color: #222;
  box-sizing: border-box;
  border: 3px outset gray;
  overflow: auto;
  scrollbar-width: thin;
}
.tiles-list .tile-btn {
  width: var(--tile-btn-size);
  height: var(--tile-btn-size);
  background-size: 100%;
  background-color: gray;
}.tiles-list .tile-btn:hover {
  z-index: 2;
  outline: 3px solid green;
}.tiles-list .tile-btn.active {
  z-index: 1;
  outline: 3px solid greenyellow;
}
.tile-btn.eraser {
  box-sizing: border-box;
  background: linear-gradient(-45deg, transparent 45%, red 46% 54%, transparent 55%);
  border: 5px solid red;
  border-radius: 50%;
}

.floor-list .tile-btn.wood {background-image: url(./media/images/tiles/floor-wood.png);}
.floor-list .tile-btn.stone {background-image: url(./media/images/tiles/floor-stone.png);}
.floor-list .tile-btn.gravel {background-image: url(./media/images/tiles/floor-gravel.png);}
.floor-list .tile-btn.grass {background-image: url(./media/images/tiles/floor-grass.png);}
.floor-list .tile-btn.dirt {background-image: url(./media/images/tiles/floor-dirt.png);}
.wall-list .tile-btn.wood {background-image: url(./media/images/tiles/wall-wood.png);}
.wall-list .tile-btn.concrete {background-image: url(./media/images/tiles/wall-concrete.png);}
.wall-list .tile-btn.window {background-image: url(./media/images/tiles/wall-window.png);}
.ceiling-list .tile-btn.wood {background-image: url(./media/images/tiles/ceiling-built.png);}
.ceiling-list .tile-btn.leaves {background-image: url(./media/images/tiles/ceiling-leaves.png);}