:root {
  --board-size: 700px;
  --tools-size: 1fr;
  --tile-btn-size: 50px;
}

body {
  box-sizing: border-box;
  padding: .25rem;
  display: grid;
  grid-template-columns: var(--board-size);
  grid-template-rows: var(--board-size) var(--tools-size);
  grid-template-areas: "board" "tools";
  user-select: none;
} body > div {
  border: 3px inset gray;
  box-sizing: border-box;
}

#board {
  grid-area: board;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .35);
}
.board-layer {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
}
.board-layer:last-child .tile {
  outline: 1px dashed rgba(0, 0, 0, .5);
}
/* - - - - - */

.tiles-list {
  grid-area: tools;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 3fr) 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.tiles-list > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-btn-size), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--tile-btn-size), 1fr));
  overflow-y: auto;
  height: 100%;
  gap: 5px;
  padding: 5px;
  background-color: #222;
  box-sizing: border-box;
  border: 3px outset gray;
  overflow: auto;
  scrollbar-width: thin;
}
.tiles-list .tile-btn {
  width: var(--tile-btn-size);
  height: var(--tile-btn-size);
  background-size: 100%;
  background-color: gray;
}.tiles-list .tile-btn:hover {
  z-index: 2;
  outline: 3px solid green;
}.tiles-list .tile-btn.active {
  z-index: 1;
  outline: 3px solid greenyellow;
}
.tile-btn.eraser {
  box-sizing: border-box;
  background: linear-gradient(-45deg, transparent 45%, red 46% 54%, transparent 55%);
  border: 5px solid red;
  border-radius: 50%;
}
.tiles-list button {
  background-color: hsl(220, 50%, 20%);
  color: hsl(220, 30%, 90%);
  /* color: white; */
  font-weight: 800;
  font-size: 1rem;
  font-family: monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.25rem;
  border: none;
  border-radius: .5rem;
}.tiles-list button:hover {
  background-color: hsl(220, 50%, 25%);
}.tiles-list button:active {
  background-color: hsl(220, 50%, 18%);
}
.tiles-list button.undo.active {
  background-color: hsl(220, 70%, 40%);
}


dialog {
  box-sizing: border-box;
  width: 500px;
  height: 700px;
  border: none;
  border-radius: 1rem;
  box-shadow: .5rem .5rem 1rem black;
  background-color: hsl(220, 60%, 30%);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 3rem;
  overflow: hidden;
}
dialog textarea {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  padding: .5rem;
  box-sizing: border-box;
  resize: none;
  background-color: hsl(220, 60%, 40%);
  color: white;
  font-family: monospace;
}

dialog button {
  position: absolute;
  font-size: 1rem;
  width: 30px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  right: 1rem;
  top: 1rem;
}

.floor-list .tile-btn.wood {background-image: url(./media/images/tiles/floor-wood.png);}
.floor-list .tile-btn.stone {background-image: url(./media/images/tiles/floor-stone.png);}
.floor-list .tile-btn.gravel {background-image: url(./media/images/tiles/floor-gravel.png);}
.floor-list .tile-btn.grass {background-image: url(./media/images/tiles/floor-grass.png);}
.floor-list .tile-btn.dirt {background-image: url(./media/images/tiles/floor-dirt.png);}
.wall-list .tile-btn.wood {background-image: url(./media/images/tiles/wall-wood.png);}
.wall-list .tile-btn.concrete {background-image: url(./media/images/tiles/wall-concrete.png);}
.wall-list .tile-btn.window {background-image: url(./media/images/tiles/wall-window.png);}
.ceiling-list .tile-btn.wood {background-image: url(./media/images/tiles/ceiling-built.png);}
.ceiling-list .tile-btn.leaves {background-image: url(./media/images/tiles/ceiling-leaves.png);}