:root {
  --board-size: 95vmin;
}

body {
  background: radial-gradient(hsl(220, 30%, 20%), hsl(220, 50%, 30%));
  background-size: 100vmax 100vmax;
  background-position: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* - - - board - - - */
#board {
  position: relative;
  isolation: isolate;
  width: var(--board-size);
  height: var(--board-size);
  box-sizing: border-box;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .2);
}
.board-layer {
  position: absolute;
  inset: 0;
  display: grid;
  /* grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(15, 1fr); */
}

.tile {
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* for testing */
** {
  outline: 1px solid crimson;
}

/* .tile { outline: 1px solid rgba(217, 173, 115, .5); }
#layer1 { translate: -.25rem -.25rem; }
#layer2 { translate: -.5rem -.5rem; }
#layer3 { translate: -.75rem -.75rem; } */