:root {
  --tileset-width: 24;
  --tile-res: 12px;

  --board-tiles: 31;
  --pixel-multiplier: 2;
  --tile-size: calc(var(--tile-res) * var(--pixel-multiplier));
  --board-size: calc(var(--tile-size) * var(--board-tiles));
}

body {
  background: radial-gradient(hsl(220, 30%, 20%), hsl(220, 50%, 30%));
  background-size: 100vmax 100vmax;
  background-position: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* - - - board - - - */
#board {
  position: relative;
  isolation: isolate;
  width: var(--board-size);
  height: var(--board-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.board-layer {
  position: absolute;
  display: grid;
}

.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  box-sizing: border-box;
  image-rendering: pixelated;
	background-size: calc(100% * var(--tileset-width));
}

/* for testing */
** {
  outline: 1px solid crimson;
}

/* .tile { outline: 1px solid rgba(217, 173, 115, .5); }
#layer1 { translate: -.25rem -.25rem; }
#layer2 { translate: -.5rem -.5rem; }
#layer3 { translate: -.75rem -.75rem; } */